{
	"extends": "@istanbuljs/nyc-config-typescript",
	"reporter": ["lcov", "text", "text-summary"],
	"include": ["src/**"],
	"exclude": [
		"src/cli/middlewares/updateNotifier.ts",
		"src/cli/utils/profile.ts",
		"src/linter/xmlTemplate/lib/JSTokenizer.js"
	],
	"check-coverage": true,
	"statements": 72,
	"branches": 68,
	"functions": 75,
	"lines": 72,
	"watermarks": {
		"statements": [70, 90],
		"branches": [70, 90],
		"functions": [70, 90],
		"lines": [70, 90]
	},
	"cache": true,
	"all": true
}
